main {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}

a {
    color: #007bff;
}

input,
button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

input {
    &[type="checkbox"] {
        width: auto;
        margin-right: 4px;
    }
}

label {
    margin-right: 16px;
}

label:last-of-type {
    margin-right: 0;
}

h1 {
    font-size: 2em;
}

section,
form {
    max-width: 400px;
    margin: 0 auto;
}

dialog {
    border: 1px solid #222;
    border-radius: 8px;
}

.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}
